html{
    box-sizing: border-box;
    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}

.hidden {
    display: none;
}

#main-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#ground-container-game{
    width: 100%;
    position: relative;
    height: 80%;
    display: flex;
    align-items:flex-start ;
    background-color: black;
}

.wrapper {
    width: 15%;
    position: relative;
    height: 100%;
    z-index: 5;
    background-color: white;
}

#container-game {
    width: 70%;
    height: 80%;
    background-color: aqua;
    position: relative;
    border: 1px black solid;
}

.pipe-1-down-direction, .pipe-2-up-direction {
    width: 5%;
    margin: 0 auto;
}

.pipe-1-down-direction {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
}

.pipe-2-up-direction {
    position: absolute;
    bottom: 0;
}

#flappy-bird {
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
    right: 50%;
    z-index: 20;
}

.set-start-flappy {
    top: 50%;
}

#score {
    position: absolute;
    right: 2%;
    top: 90%;
    width: 10%;
    font-size: 1rem;
}

#banner{
    width: 45%;
    height: 30%;
    background-color: green;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 50;
    translate: 50% -50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

#banner > button, #banner > select{
    padding: 8px 12px;
    font-size: 1.15rem;
    color: black;
    display: inline-block;
    width: 35%;
    border-radius: 2px;
    border: none;
} 

.hidden {
    display: none !important;
}

#banner > button {
    background-color: orangered;
}

#final-score{
    color: white;
    font-weight: bolder;
}

#update-result{
    font-size: 1.2rem ;
    color: red;
    font-weight: 700;
}